.page {
    padding: 20px;
}

.head {
    margin-bottom: 20px;
}

.head h2 {
    padding: 10px;
    padding-bottom: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #f8e4e4;
}

.todo,
.completed {
    width: 45%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
}

a,
h3 {
    display: inline-block;
}

h3 {
    margin-left: 15px;
}

button {
    float: right;
    margin-right: 20px;
    font-size: 23px;
    color: #03A9B0;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

/*****************Popup Menu********************/

.calend {
    background-color: transparent;
    justify-content: center;
    color: #03A9B0;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 40px;
    font-size: xx-large;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* ajouter un fond semi-transparent */
    z-index: 100;
    /* assurer que la popup est en premier plan */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    width: 70%;
    /* modifier la largeur de la popup selon vos besoins */
    max-width: 600px;
    /* ajouter une largeur maximale pour les petits écrans */
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #aaa;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal-content {
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}