<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
<body>
    <main>
        <div class="title">
          <p>Manage your Company</p>
        </div>
        <div class="showbar">
          <div class="meet-task">
            <button class="team" (click)="showInfo()" [class.active]="list">Teams</button>
            <button class="team" (click)="showusers()" [class.active]="pers">Users</button>
            <button class="team" (click)="hideInfo()" [class.active]="calend">Calendrier</button>
            <button (click)="showForm()" *ngIf="calend" matTooltip="Manage Calendrier" >
              <i class="fa fa-fw fa-cog"></i>
          </button>
          </div>
          <hr>
        </div>
        <div *ngIf="list" [class.show]="list">
          <div class="team-list">
            <div class="team-card" *ngFor="let team of teams">
              <h2>
                <a routerLink="/teams/{{ team.titre }}">{{ team.titre }}</a>
              </h2>
                <a class="user" matTooltip="Delete this Team" >
                    <i class="fa fa-trash-alt" (click)="deleteTeamConfirmation(team.title)"></i>
                  </a>
            </div>
          </div>
        </div>

        <div  *ngIf="pers" [class.show]="pers">
          <div class="team-list">
            <app-show-users></app-show-users>
          </div>          
        </div>
        <div class="cld" *ngIf="calend" [class.show]="calend">
          <app-calendar></app-calendar>
        </div>
      </main>
</body>

<div class="modal" *ngIf="showPopup">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <div class="choice-container">
          <input type="radio" name="offer" value="offer1" [(ngModel)]="selectedOffer" id="offer1">
          <label for="offer1">Working Days</label>
        </div>
        <div class="choice-container">
          <input type="radio" name="offer" value="offer2" [(ngModel)]="selectedOffer" id="offer2">
          <label for="offer2">Public Holidays</label>
        </div>
      </div>
      <div class="modal-body" *ngIf="selectedOffer === 'offer2'">
        <input type="date" [(ngModel)]="selectedDate"  matTooltip="Day of Choice" required>
        <input type="text" [(ngModel)]="title"  placeholder="Event title" required>
      </div>
      <div class="modal-body" *ngIf="selectedOffer === 'offer1'">
         <div class="date-inputs">
          <label>From:</label>
          <input type="date" [(ngModel)]="startDate" name="startDate" required>
          <br>
          <label>To:</label>
          <input type="date" [(ngModel)]="endDate" name="endDate" required>
        </div>
        <div class="time-inputs">
          <label>Start Time:</label>
          <input type="time" [(ngModel)]="startTime" name="startTime" required><br>
          <label>End Time:</label>
          <input type="time" [(ngModel)]="endTime" name="endTime" required>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button class="btnlft" (click)="cancel()">Cancel</button>
        <button class="btn" *ngIf="selectedOffer === 'offer1'" [disabled]="!startDate || !endDate || !startTime || !endTime" (click)="update()">Update</button>
        <button class="btn" *ngIf="selectedOffer === 'offer2'"  [disabled]="!selectedDate || !title " (click)="add()">Update</button>
      </div>
    </div>
  </div>