<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<body>
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <main>
        <div class="title">
            <p>My Profile</p>
            <button matTooltip="Edit Profile" (click)="toggleEdit()">
                <i class="fa fa-fw fa-pen"></i>
            </button>
        </div>
        <div class="showbar">
            <div class="meet-task">
                <button class="team" (click)="showInfo()" [class.active]="Info">Personal Information</button>
                <button class="team" (click)="hideInfo()" [class.active]="Achiv">Achievements</button>
            </div>
            <hr>
        </div>
        <div class="switch" *ngIf=Info>
            <div class="content">
                <div class="body">
                    <label>
                        First Name :
                    </label>
                    <Input type="text" [disabled]="appear" placeholder="{{Currentuser.prenom}}">
                        
                    <br>
                    <label>
                        Last Name :
                    </label>
                    <Input type="text" [disabled]="appear" placeholder="{{Currentuser.nom}}">
                    <br>
                    <label>
                        Email :
                    </label>
                    <Input type="text" [disabled]="appear" placeholder="{{Currentuser.email}}" >
                    <br>
                    <label>Phone Number : </label>
                    <input type="tel" [disabled]="appear" placeholder="{{Currentuser.telephone}}">
                    <br>
                    <label>Role in Company :</label>
                    <input type="tel" [disabled]="true" placeholder="ss">
                    <br>
                    <button class="btnlft" *ngIf="!appear" (click)="cancel()" >Cancel</button>
                    <button class="btn" *ngIf="!appear" (click)="update()">Update</button>
                </div>
            </div>
        </div>
        <div class="switch" *ngIf=Achiv>
            

        </div>

    </main>
    <!--
        

    -->
    
</body>