<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<body>
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <main>
        <div class="title">
            <p>My Profile</p>
            <button matTooltip="Edit Profile" (click)="toggleEdit()">
                <i class="fa fa-fw fa-pen"></i>
            </button>
        </div>
        <div class="showbar">
            <div class="meet-task">
                <button class="team" (click)="showInfo()" [class.active]="Info">Personal Information</button>
                <button class="team" (click)="hideInfo()" [class.active]="Achiv">Achievements</button>
            </div>
            <hr>
        </div>
        <div class="switch" *ngIf=Info>
            <div class="content">
            <form id="signup-form" [formGroup]="form" (ngSubmit)="update()" >
                <div class="body">
                    <label> First Name : </label>
                    <input type="text"  placeholder="{{CurrentUser.prenom}}" formControlName="prenom">
                    <mat-error *ngIf="form.get('prenom').invalid && form.get('prenom').touched">
                        {{ getErrorMessage('prenom') }}
                      </mat-error>
                    <br>
                    <label> Last Name : </label>
                    <input type="text" placeholder="{{CurrentUser.nom}}" formControlName="nom">
                    <mat-error *ngIf="form.get('nom').invalid && form.get('nom').touched">
                        {{ getErrorMessage('nom') }}
                      </mat-error>
                    <br>
                    <label> Email : </label>
                    <input type="text" placeholder="{{CurrentUser.email}}" formControlName="email">
                    <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">
                        {{ getErrorMessage('email') }}
                      </mat-error>
                    <br>
                    <label *ngIf="!appear"> Password : </label>
                    <input type="password" *ngIf="!appear"  formControlName="password">
                    <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
                        {{ getErrorMessage('password') }}
                      </mat-error>
                    <br *ngIf="!appear">
                    <label> Phone Number : </label>
                    <input type="tel" placeholder="{{CurrentUser.telephone}}" formControlName="telephone">
                    <mat-error *ngIf="form.get('telephone').invalid && form.get('telephone').touched">
                        {{ getErrorMessage('telephone') }}
                      </mat-error>
                    <br>
                    <label> Role in Company :</label>
                    <input type="tel" [disabled]="true" placeholder="{{role}}">
                    <br>
                    <button class="btnlft" *ngIf="!appear" (click)="cancel()" >Cancel</button>
                    <button type="submit" class="btn" *ngIf="!appear" >Update</button>
                </div>
            </form>
            </div>
        </div>
        <div class="switch" *ngIf=Achiv>
            
        </div>

    </main>
    <div class="popup" *ngIf="showPopup">
        <div class="popup-content">
          <span class="close" (click)="showPopup = false">&times;</span>
          <p>Email allready exists , Change it please</p>
        </div>
    </div>
</body>