<div class="topic" cdkDrag>
    <form id="topic-form" [formGroup]="form" >
    <div>
    <i class="fa fa-fw fa-grip-vertical" matTooltip="Move Topic"></i>&nbsp;&nbsp;
    <label >Topic :</label>
    </div>
    <div>
        <input (keyup)="onKeyUp($event)" type="text" class="aged" name="title" formControlName="title" placeholder="Topic title" [(ngModel)]="topic.title">
        <mat-error *ngIf="form.get('title').invalid && (form.get('title').dirty || form.get('title').touched)">  {{ getErrorMessage('title') }}  </mat-error>

        <mat-form-field class="title2" appearance="fill">
            <mat-label>Choose a presenter</mat-label>
            <mat-select [(value)]="selectedMember" (selectionChange)="memberSelected()">
              <mat-option *ngFor="let member of members" [value]="member">
                {{ member.nom_utilisateur }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <input (keyup)="onKeyUp($event)" type="number" class="dur" name="dur" formControlName="dur"  placeholder="Duration (in minutes)" required [(ngModel)]="topic.duration">
        <mat-error *ngIf="form.get('dur').invalid && (form.get('dur').dirty || form.get('dur').touched)"> {{ getErrorMessage('dur') }} </mat-error>
    
        <textarea (keyup)="onKeyUp($event)" type="text" class="aged" name="det" formControlName="det"  placeholder="Details" [(ngModel)]="topic.details"></textarea>
        <mat-error *ngIf="form.get('det').invalid && (form.get('det').dirty || form.get('det').touched)"> {{ getErrorMessage('det') }} </mat-error>

    </div>
    
    <p id="text" [hidden]="!capsLockWarning" style="color: #03A9B0;"> Caps lock is ON.</p>
    <i class="fa fa-fw fa-trash" (click)="deleteTopic()" matTooltip="Delete Topic"></i>
    </form>
</div>
<hr>
  