<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="topic" cdkDrag>
    <form id="topic-form" [formGroup]="form" >
    <div>
    <i class="fa fa-fw fa-grip-vertical" matTooltip="Move Topic"></i>&nbsp;&nbsp;
    <label >Topic :</label>
    </div>
    <div>
        <input (keyup)="onKeyUp($event)" type="text" class="aged" name="title" formControlName="title" placeholder="Topic title" [(ngModel)]="topic.title">
        <span *ngIf="form.get('title').invalid && (form.get('title').dirty || form.get('title').touched)">
            {{ getErrorMessage('title') }}
        </span>
        <input (keyup)="onKeyUp($event)" type="email" class="aged" name="email" formControlName="email" placeholder="Enter Presenter" [(ngModel)]="topic.presenter">
        <div *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)">
            {{ getErrorMessage('email') }}
        </div>
        <input (keyup)="onKeyUp($event)" type="number" class="dur" name="dur" formControlName="dur"  placeholder="Duration (in minutes)" required [(ngModel)]="topic.duration">
        <div
            *ngIf="form.get('dur').invalid && (form.get('dur').dirty || form.get('dur').touched)">
            {{ getErrorMessage('dur') }}
        </div>
    <br>
        <textarea (keyup)="onKeyUp($event)" type="text" class="aged" name="det" formControlName="det"  placeholder="Details" [(ngModel)]="topic.details"></textarea>
        <div *ngIf="form.get('det').invalid && (form.get('det').dirty || form.get('det').touched)">
            {{ getErrorMessage('det') }}
        </div>
    </div>
    <p id="text" [hidden]="!capsLockWarning" style="color: #03A9B0;"> Caps lock is ON.</p>
    <i class="fa fa-fw fa-trash" (click)="deleteTopic()" matTooltip="Delete Topic"></i>
    </form>
</div>
<hr>
  