<ul class="user-list">
    <li *ngFor="let user of accounts" class="user-card" [class.selected]="user === selectedAccount">
      <div class="avatar" [style.background-color]="getColor(user?.prenom + ' ' + user?.nom)"
           (click)="selectAccount(user)">
        {{ user.prenom.charAt(0)  + user?.nom.charAt(0) | titlecase }}
      </div>
      <div class="user-details">
        <div class="name">{{ user?.prenom | titlecase }} {{ user?.nom | titlecase }}</div>
        <div class="role">{{ user?.role }}</div>
      </div>
    </li>
  </ul>
  
  <div *ngIf="selectedAccount" class="selected-user">
    <span class="close" (click)="selectedAccount = null">&times;</span>
    <h2>{{ selectedAccount.prenom }} {{ selectedAccount.nom }}</h2>
    <div>{{ selectedAccount?.username }}</div>
    <div>{{ selectedAccount?.role }}</div>
    <button class="btnlft" (click)="modifyRole(selectedAccount)">
      {{ getRoleActionText(selectedAccount) }}
    </button>
    <button class="btn">
      <a  matTooltip="Delete User" (click)="deleteAccount(accountId)">
          <i class="fa fa-fw fa-solid fa-trash"></i></a>
    </button>
  </div>
  