<div id="mySidepanel" class="sidebar" [style.width]="isOpen ? '225px' : '0'">
    <a class="routes" routerLink="/menu"><i class="fa fa-fw fa-home"></i> Home</a>
    <a class="routes"><i class="fa fa-fw fa-history"></i> History</a>
    <a class="routes"><i class="fa fa-bar-chart"></i> Statistics</a>
    <hr>
    <div class="team">
        <i class="fa fa-fw fa-group"></i>
        Teams
        <a (click)="showForm()"><i class="fa fa-plus-circle" matTooltip="Add Team"></i></a>
    </div>
    <hr>
    <div class="allteams">
        <ul>
          <li *ngFor="let team of teams">
            <a routerLink="/teams/{{team.titre}}">{{team.titre}}</a>
          </li>
        </ul>
      </div>
</div>

<div class="modal" *ngIf="showPopup" >
    <div class="modal-dialog" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <h2>New Team</h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="row">
                        <input type="text" placeholder="Team Title" formControlName="title">
                        <input type="text" placeholder="Speciality" formControlName="specia">
                    </div>
                    <div class="row row-1">
                        <label>Invite Teammates</label>
                        <input type="email" placeholder="Enter an Email" formControlName="email">
                    </div>
                    <div class="row">
                        <button class="btnlft" (click)="hideForm()">Cancel</button>
                        <button class="btn" type="submit" (click)="onSubmit()">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>