<div id="mySidepanel" class="sidebar" [style.width]="isOpen ? '225px' : '0'">
    <a class="routes" routerLink="/menu"><i class="fa fa-fw fa-home"></i> Home</a>
    <a class="routes"><i class="fa fa-fw fa-history"></i> History</a>
    <a class="routes"><i class="fa fa-bar-chart"></i> Statistics</a>
    <hr>
    <div class="team">
        <i class="fa fa-fw fa-group"></i>
        Teams
        <a (click)="showForm()" *ngIf="hide3()"><i class="fa fa-plus-circle" matTooltip="Add Team"></i></a>
    </div>
    <hr>
    <div class="allteams">
        <ul>
          <li *ngFor="let team of teams">
            <a routerLink="/teams/{{team.titre}}">{{team.titre}}</a>
          </li>
        </ul>
      </div>
</div>


<div class="modal" *ngIf="showPopup">
    <div class="modal-dialog" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header">
          <h1>New Team</h1>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="title">Team Title</label>
            <input type="text" id="title" class="form-control" [(ngModel)]="title">
          </div>
          <div class="form-group">
            <label for="email">Invite Teammates</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="member">
            <a (click)="saveMember()"><i class="fa fa-plus-circle" matTooltip="Add another member"></i></a>
          </div>
          <div *ngIf="members.length > 0">
            <label>Added Members:</label>
            <ul>
              <li *ngFor="let member of members">{{ member }}</li>
            </ul>
          </div>
          <div *ngIf="showPopup1">
            <p> {{message}} </p>
          </div>
          <div class="form-group row">
            <button class="btnlft" (click)="hideForm()">Cancel</button>
            <button class="btn" type="submit" (click)="onSubmit()">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  