<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<body>

    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <br><br><br>
    <main>
        <div class="form-container">
            <h2>Scheduled Meeting</h2>
            <form class="newMeet">
                <div>
                    <label class="titl">Title :</label>
                    <label class="team">Team :</label><br>
                    <input type="text" class="title1" placeholder="Meeting Title" required>
                    <mat-form-field class="title2" appearance="fill">
                        <mat-label>Choose a team</mat-label>
                        <mat-select [(value)]="selectedTeam" (selectionChange)="teamSelected()">
                          <mat-option *ngFor="let team of teams" [value]="team">
                            {{ team.titre }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>    
                    <button class="calend" matTooltip="Working Agenda" (click)="showForm()">
                        <i class="fa fa-fw fa-calendar-day"></i>
                        </button>
                            
                </div>
                <div class="modal" *ngIf="showPopup" (click)="hideForm()">
                    <div class="modal-dialog" (click)="$event.stopPropagation()">
                        <div class="modal-content">
                           <app-calendar></app-calendar>
                        </div>
                    </div>
                </div>
                <div class="allSlots">
                    <div class="slot">
                        <label class="slotlabel">Time Slot :</label>
                        <input type="date" [(ngModel)]="selectedDate" name="selectedDate" matTooltip="Day of Choice" required>
                        <input type="time" [(ngModel)]="selectedStartTime" name="selectedStartTime" matTooltip="Time of Start" required>
                        <input type="number" [(ngModel)]="selectedDuration" name="selectedDuration" placeholder="Duration (in minutes)" required>
                        <button matTooltip="Add Slot" class="user-button" (click)="addSlotItem()">
                            <a class="user">
                                <i class="fa fa-fw-solid fa-calendar-plus"></i>
                            </a>
                        </button>
                    </div>
                </div><br>
                <div class="popup" *ngIf="showPopup1">
                    <div class="popup-content">
                    <p>{{message}}</p>
                    <span class="close"  (click)="hideForm1()">&times;</span>
                    </div>
                </div>  
                <div>
                    <label>Objective :</label><br>
                    <input type="text" class="title1" placeholder="Objective of the Meeting" required>
                </div>              
               <br>
                <div class="agenda">
                    <h2>Agenda</h2>
                    <br>
                    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let topic of topics">
                            <app-topic [topic]="topic"></app-topic>
                        </div>
                    </div>
                    <button class="user-button" (click)="addAgendaItem()">
                        <a class="user" matTooltip="add Topic">
                            <i class="fa fa-fw-solid fa-calendar-plus"></i>
                        </a>
                    </button> 
                </div>
                <button type="submit">Confirm</button>

            </form>
        </div>
    </main>
</body>