<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<body>
    <div class="container">
        <div class="form-container">
            <form id="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <h2>Login here</h2>
                <div class="emaa">
                    <input (keyup)="onKeyUp($event)" type="email" name="email" formControlName="email"
                        placeholder="Email">
                </div>
                <div *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)">
                    {{ getErrorMessage('email') }}
                </div>
                <div class="emaa">
                    <input (keyup)="onKeyUp($event)" [type]="!showPassword ? 'password' : 'text'" name="password" formControlName="password"
                        placeholder="Password">
                        <i class="fa fa-fw fa-eye-slash" (click)="togglePasswordVisibility()"></i>
                </div>
                <div
                    *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)">
                    {{ getErrorMessage('password') }}
                </div>
                <p id="text" [hidden]="!capsLockWarning" style="color: #03A9B0;"> Caps lock is ON.</p>
                <button type="submit">Login</button>
                <br><br>
                <h2>Don't have an account? <a class="link" routerLink="/sign-up">sign-up here</a></h2>
            </form>
        </div>
        <div class="image-container">
        </div>
        <!-- Alert message -->
        <div class="popup" *ngIf="showPopup">
            <div class="popup-content">
              <span class="close" (click)="showPopup = false">&times;</span>
              <p>Invalid email or password</p>
            </div>
        </div>
        <div class="popup" *ngIf="showPopup1">
            <div class="popup-content">
              <span class="close" (click)="showPopup1 = false">&times;</span>
              <p>Fill all the inputs in the correct format please</p>
            </div>
        </div>
    </div>
</body>