<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<body>

    
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <main>
        <div class="showbar">
            <div class="meet-task">
                <button class="meet" (click)="showMeet()" [class.active]="Meet">Meetings</button>
                <button class="calendar" (click)="showCalendar()" [class.active]="Calendar">Calendar</button>
            </div>
            <div class="search-bar" >
                <input type="text" (click)="showForm()" placeholder="Search meetings...">
                <button><i class="fa fa-search"></i></button>
            </div>
        </div>
        <br><br><br><br><br><br><br>
        <div *ngIf=Meet>
            <app-show-meet></app-show-meet>
        </div>
        <div *ngIf="Calendar">
            <app-calendar></app-calendar>
          </div>
    </main>
    <div *ngIf="showPopup" (click)="hideForm()">
        <app-welcome></app-welcome>
    </div>
    
</body>