<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<body>
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <main>
        <div class="Meet">
            <h2>The meeting</h2>
            <div class="details">
                <label>Objective :</label>
                <p>OObj </p><br>
                <label>Date :</label>
                <p>Dateeee </p>
            </div>
            <hr>
            <div class="topics">
                <h1>Meeting Scheduel :</h1><br>
                <div class="topic">
                    <label class="title">Awel Topic</label>
                    <a class="user" matTooltip="Presenter"><i class="fa fa-solid fa-user-tie"></i></a>&nbsp;
                    <label> :&nbsp; eli lehi</label><br>
                    <textarea class="det" placeholder="Détails"></textarea><br>
                    <p>Attachment</p>
                    <a class="user" matTooltip="Add Resolution"><i class="fa fa-solid fa-handshake"></i></a>&nbsp;
                    <a class="user" matTooltip="Next Topic"><i class="fa fa-solid fa-forward"></i></a>
                </div>
                <div class="topic">
                    <label class="title">Awel Topic</label>
                    <a class="user" matTooltip="Presenter"><i class="fa fa-solid fa-user-tie"></i></a>&nbsp;
                    <label> : &nbsp;eli lehi</label><br>
                    <textarea class="det" placeholder="Détails"></textarea><br>
                    <p>Attachment</p>
                    <a class="user" matTooltip="Add Resolution"><i class="fa fa-solid fa-handshake"></i></a>&nbsp;
                    <a class="user" matTooltip="Next Topic"><i class="fa fa-solid fa-forward"></i></a>

                </div>
            </div><br>

        </div>

    </main>
</body>