<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<body>

    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <br><br><br>
    <main>
        <div class="form-container">
            <h2>Meeting Title</h2>
            <form class="newMeet">
            <div class="details">
                <label>Objective :</label>
                <p>OObj </p><br>
                <label>Date :</label>
                <p>Dateeee </p>
            </div>
            <hr>
                          
            <br>
           <div class="agenda">
                    <h2>Schedual</h2>
                    <br>
                <div class="topic">
                    <label class="title">Awel Topic</label>
                    <a class="user" matTooltip="Presenter"><i class="fa fa-solid fa-user-tie"></i></a>&nbsp;
                    <label class="title"> :&nbsp; eli lehi</label><br>
                    <textarea class="det" placeholder="Détails"></textarea><br>
                    <a class="user" matTooltip="Add Resolution"><i class="fa fa-solid fa-handshake"></i></a>&nbsp;
                    <a class="user" matTooltip="Next Topic"><i class="fa fa-solid fa-forward"></i></a>
                </div>
                <div class="topic">
                    <div class="head">
                    <label class="title">Awel Topic</label>
                    <a class="user" matTooltip="Presenter"><i class="fa fa-solid fa-user-tie"></i></a>&nbsp;
                    <label class="title"> : &nbsp;eli lehi</label>
                    </div>
                    <br>
                    <div>
                    <textarea class="det" placeholder="Détails"></textarea><br>
                    <a class="user" matTooltip="Add Resolution"><i class="fa fa-solid fa-handshake"></i></a>&nbsp;
                    <a class="user" matTooltip="Next Topic"><i class="fa fa-solid fa-forward"></i></a>
                    </div>
                </div>            
             </div>
                <button type="submit">Confirm</button>

            </form>
        </div>
    </main>
</body>